/* Boiler Plate */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    font-size: 30px;
    font-family: 'Merriweather', serif;
    font-family: 'Merriweather Sans', sans-serif;
}
/* ------------------------------------------------------------- */

/* Variables */
:root{
    --section-bg-color: #FAFAF8;
    --text-color:#333333;
    --theme-green:#6A9739;
}

/* Pseudo Elements */
::selection{
    background-color: #6A9739;
}

/* ------------------------------------------------------------- */

/* Navbar Section */
nav {
    display: flex;
    justify-content: space-between;
    background-color: var(--section-bg-color);
}

.horizontal-lists {
    list-style: none;
    color: black;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;

}

.horizontal-lists li {
    margin-right: 1rem;
}

.horizontal-lists li a {
    text-decoration: none;
    color: black;
    transition: all 0.5s ease;
}

.horizontal-lists li a:hover {
    color: #6A9739;

}

.horizontal-lists li {
    font-size: 1rem;
    padding: 0rem 1rem 1rem 1.2rem;

}


/* Mobile Styles */
@media screen and (max-width: 780px){
    nav {
        display: flex;
        justify-content:space-between;
        flex-direction: column;
    }
    
    .horizontal-lists {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items:center;
    
    }
}

/*  */

/* Tablet Styles */
@media screen and (min-width: 780px) and (max-width: 1080px){
    nav {
        display: flex;
        flex-direction: column;
    }
    
    .horizontal-lists {
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-direction: column;
        align-items:center;
    
    }
}
/*  */

/* About Section */
#Contact-Top{
    text-align: center;
    background-color: var(--section-bg-color);
    padding-top: 2rem;
    padding-bottom: 8rem;
}

#Contact-Top div{
    padding: 10px;
}

#Contact-Top h1{
    font-size: 3.5rem;
    font-style: normal;
}

/* Leaf */
#leaf{
    text-align: center;
    width: 100%;
    padding: 2px;
    position: absolute;
    top: 32%;

}

#leaf>img{
    position: absolute;
    height: 65px;
    top: -1.2rem;
}

/* Contact Details Section */
#contact-details{
    position: relative;
    background-color: white;
    top: -20%;
    left: 10%;
    width: 1200px;
    display: flex;
    margin: 20px 0 40px;
    padding: 0 20px;
    border: 2px solid grey;
}

/* .details-box-container{

} */
.details-box{
    height: 160px;
    width: 350px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid lightgrey;
}

.details-logo{
    color: var(--theme-green);
    font-size: 1.6rem;
    margin-bottom: 1rem;
}

.details{
    font-size: 1rem;
    line-height: 1.6rem;
    text-align: center;
}






















/* Footer Section */
.Footer-Container{
    background-color: #001524;
    color: #A8AFB4;
    margin-top:20px;
    padding-top:80px;
    padding-bottom: 75px;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content:space-around;
}
.Footer-Container h2{
    color: white;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.Footer-Container a{
    line-height: 2rem;
    text-decoration: none;
}

#About-Footer{
    font-size: 1.2rem;
    font-weight: bold;
    font-style: italic;
    line-height: 2rem;
    background-color: transparent;
}

#Link-Container{
    display: flex;
    flex-direction: column;
}

.Quick-Links-Container{
    display: flex;
    flex-direction:column;
    font-size: 1.2rem;
}
.Quick-Links-Container a{
    color:#A8AFB4;
}

.Site-Links-Container{
    display: flex;
    flex-direction: column;
    color: #A8AFB4;
    margin-top: 2rem;
}
.Site-Links-Container>a{
    color: #A8AFB4;
    font-size: 1.2rem;
}

.Download-Container>p{
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}

.Quick-Links-Container{
    display: flex;
    flex-direction: column;
}
.Quick-Links{
    display: flex;
    flex-direction: column;
}
.Quick-Links>a{
    font-size: 1rem;
    color:#8BC342;
}

.Stores{
    margin-top: 1rem;
}
.Stores>img{
    height: 50px;
    margin-right: 20px;
}
/*  */

/* Copyright Section */
.Copyright-Container{
    background-color: #001524;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;
    color: #A8AFB4;
    border-top: 0.8px solid #5e6061;
    padding: 1.2rem 2rem 1.2rem 2.2rem;
}
.Social-Links a{
    color: #A8AFB4;
}
.Social-Links i{
    margin-left: 1rem;
}
/* ---------------------------------------------- */
  /* Mobile Styles */
@media screen and (max-width: 780px){
    .Footer-Container{
        padding-bottom: 75px;
        padding-left: 2rem;
        padding-right: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #About-Container #Logo{
        text-align: center;
    }

    .Footer-Container h2{
        font-size: 1.2rem;
        text-align: center;
    }
    
    .Footer-Container a{
        line-height: 2rem;
    }
    
    #About-Footer{
        font-size: 1rem;
        line-height: 1.8rem;
    }
    
    #Link-Container{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    
    .Quick-Links-Container{
        display: flex;
        flex-direction:column;
        font-size: 1rem;
    }
    
    .Site-Links-Container{
        align-items: center;
    }
    .Site-Links-Container>a{
        font-size: 1rem;
    }
    
    .Download-Container>p{
        font-size: 1rem;
        line-height: 1.8rem;
        text-align: center;
    }
    
    .Quick-Links-Container{
        align-items: center;
    }

    .Quick-Links>a{
        font-size: 1rem;
        text-align: center;
    }
    
    .Stores{
        margin-top: 1rem;
    }
    .Stores>img{
        height: 50px;
        margin-right: 20px;
    }
    /*  */
    
    /* Copyright Section */
    .Copyright-Container{
        display: flex;
        flex-direction: column;
        padding: 1.2rem 2rem 2rem 2.2rem;
    }
}

  /* Tablet Styles */
  @media screen and (min-width: 780px) and (max-width: 1080px){
    .Footer-Container{
        background-color: #001524;
        color: #A8AFB4;
        margin-top:20px;
        padding-top:75px;
        padding-bottom: 75px;
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        justify-content:space-around;
    }
    .Footer-Container h2{
        font-size: 1.2rem;
        text-align: center;
    }
    
    .Footer-Container a{
        line-height: 2rem;
    }
    
    #About-Footer{
        font-size: 1rem;
        line-height: 1.8rem;
    }
    
    #Link-Container{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem;
    }
    
    .Quick-Links-Container{
        display: flex;
        flex-direction:column;
        font-size: 1rem;
    }
    
    .Site-Links-Container{
        align-items: center;
    }
    .Site-Links-Container>a{
        font-size: 1rem;
    }
    
    .Download-Container>p{
        font-size: 1rem;
        line-height: 1.8rem;
        text-align: center;
        
    }
    
    .Quick-Links-Container{
        align-items: center;
    }

    .Quick-Links>a{
        font-size: 1rem;
        text-align: center;
    }
    
    .Stores{
        margin-top: 1rem;
    }
    .Stores>img{
        height: 35px;
        margin-right: 20px;
    }
    .Copyright-Container{
        justify-content: space-between;
    }
}

/*  */